#%RAML 1.0
title: ProstoTV
version: 1
baseUri: https://api.prosto.tv/v1
mediaType: application/json
types: !include ./types.raml

securitySchemes:
  bearer:
    type: x-bearer
    describedBy:
      headers:
        Authorization:
          description: Заголовок для авторизации по токену
          example: Bearer 00112233445566778899aabbccddeeff

/objects:
  securedBy: bearer
  post:
    description: Добавление пользователя
    body:
      type: object
      properties:
        first_name?: string
        middle_name?: string
        last_name?: string
        note?: string
        phone?: string
        password?: string
    responses:
      201:
        description: Пользователь добавлен
        body:
          type: object
          example: |
            {
              "id": 123456,
              "password": 12345678,
              "status": "active",
              "balance": 0,
              "bonus": 0,
              "ebs_url": 'https://{ebs_url}/{object_id}/more/services',
              "bundles": [],
              "services": [],
              "devices": [],
              "playlists": []
            }
  /{account_id}:
    securedBy: bearer
    uriParameters:
      account_id:
        type: integer
        description: Account ID
    get:
      description: Получение данных пользователя
      responses:
        200:
          body:
            type: object
            properties:
              id: integer
              status: ['none', 'active', 'blocked', 'disconnected', 'deleted']
              balance: number
              bonus: number
              contacts: array
              date_create: string
              bundles: array
              services: array
              devices: array
              playlists: array
            example: |
              {
                "id": 123456,
                "status": "active",
                "balance": 0,
                "bonus": 0,
                "ebs_url": 'https://{ebs_url}/{object_id}/more/services',
                "contacts": [ "012 3456789", "098 7654321"...]
                "date_create": "2015-02-08"
                "bundles": [
                  {
                    "id": 40,
                    "main": 1,
                    "bundles": [],
                    "name_ru": "Украина",
                    "name_uk": "Україна",
                    "channels_count": 38,
                    "cost": 39
                  },
                  {
                    "id": 50,
                    "main": 1,
                    "bundles": [40],
                    "name_ru": "Вселенная",
                    "name_uk": "Всесвіт"
                    "channels_count": 144,
                    "cost": 79
                  }
                ],
                "services": [
                  {
                    "id": 50,
                    "created": "2018-11-01 01:00:14",
                    "name_ru": "IPTV Вселенная",
                    "name_uk": "IPTV Всесвіт",
                    "active": 1,
                    "auto_renewal": 1,
                    "cost": 79,
                    "main": 1,
                    "channels_count": 144,
                    "bundles": [40],
                    "stop": "2019-01-01"
                  }
                ],
                "devices": [
                  {
                    "id": "123456_3",
                    "created": "2018-11-01 02:01:04",
                    "updated": "2018-12-08 19:54:17",
                    "password": "520630",
                    "device": "M01PR100",
                    "comment": "Телевизор на кухне"
                  }
                ],
                "playlists": [
                  {
                    "id": "secret",
                    "created": "2018-12-01 12:14:34",
                    "updated": "2018-12-08 19:54:17",
                    "genres": 1,
                    "comment": "Домашний ПК",
                    "ip": "90.100.110.120",
                    "url": "http://my.prosto.tv/secret.m3u"
                  }
                ]
              }
    delete:
      description: Удаление учетки
      responses:
        200:
          description: Учетка удалена
          body:
            type: object
            example: |
              {
                "id": "123456",
                "status": "deleted"
              }
        305:
          description: Учетка удалена не полностью
          body:
            type: Error
        404:
          description: Учетка уже удалена
          body:
            type: Error
    /devices:
      description: Работа с устройствами
      securedBy: bearer
      get:
        description: Получение списка всех устройств
        responses:
          200:
            body:
              properties:
                devices:
                  type: array
                  items: Device
                  example: !include types/device.json
      post:
        description: Добавление устройства
        responses:
          201:
            description: Устройство добавлено
            body:
              type: Device
              example: !include types/device.json
          406:
            description: Достугнут лимит устройств
            body:
              type: Error
      /{device_id}:
        securedBy: bearer
        uriParameters:
          device_id:
            type: string
            description: Идентификатор (логин) устройства
            example: "000000_0"
        delete:
          description: Удаление устройства
          responses:
            200:
              description: Устройство удалено
            400:
              description: Некорректный запрос
              body:
                type: Error
            404:
              description: Устройство не найдено
              body:
                type: Error
        put:
          description: Добавление комментария к устройству
          body:
            properties:
              comment?: string
          responses:
            201:
              description: Комментарий добавлено
              body:
                type: Device
                example: !include types/device.json
            400:
              description: Неверный id устройства
              body:
                type: Error
            204:
              description: Не задан комментарий
              body:
                type: Error
    /playlists:
      description: Управление плейлистами
      securedBy: bearer
      get:
        description: Получение списка всех плейлистов
        responses:
          200:
            body:
              properties:
                playlists:
                  type: array
                  items: Playlist
                  example: !include types/playlist.json
      post:
        description: Добавление плейлиста
        responses:
          201:
            description: Плейлист добавлен
            body:
              type: Playlist
              example: !include types/playlist.json
          406:
            description: Достугнут лимит
            body:
              type: Error
      /{playlist_id}:
        securedBy: bearer
        uriParameters:
          playlist_id:
            type: string
            description: Идентификатор (secret) плейлиста
            example: "xxxxxxxx"
        delete:
          description: Удаление плейлиста
          responses:
            200:
              description: Плейлист удален
            400:
              description: Некорректный запрос
              body:
                type: Error
            404:
              description: Плейлист не найден
              body:
                type: Error
        put:
          description: Добавление комментария, включение выключение группировки по жанрам
          body:
            properties:
              comment?: string
              genres?: 0|1
              tv_guide?: 0|1
              available_mode?:
                description: Оставить в плейлисте только доступные каналы
                type: 0|1
          responses:
            201:
              description: Плейлист изменен
              body:
                type: Playlist
                example: !include types/playlist.json
            400:
              description: Не указаны параметры
              body:
                type: Error
            500:
              description: Внутренняя ошибка
              body:
                type: Error
    /workoncredit:
      securedBy: bearer
      post:
        description: Активация работы в кредит
        responses:
          200:
            description: Работа в кредит активирована
          400:
            description: Не удалось активировать услугу
            body:
              type: Error
          402:
            description: Активация услуги недоступна
            body:
              type: Error
    /operations:
      securedBy: bearer
      post:
        description: Проведение операции
        body:
          type: object
          properties:
            operation_id: integer
            sum: number
          example: |
            {
              "operation_id": 20,
              "sum": 120.0
            }
        responses:
          201:
            description: Операция проведена
            body:
              type: Operation
              example: |
                {
                  "id": 123456,
                  "transaction_id": 123456,
                  "object_id": 123456,
                  "created": "2018-12-01 10:10:43",
                  "sum": 79.00,
                  "balance": 79.00
                }
          400:
            description: Некорректный запрос
            body:
              type: Error
          403:
            description: Указанный тип операции не разрешен
            body:
              type: Error
          404:
            description: Указанный тип операции не найден
            body:
              type: Error
          500:
            description: Внутренняя ошибка
            body:
              type: Error
    /status:
      securedBy: bearer
      post:
        description: Отключение/включение учетной записи
        body:
          type: object
          properties:
            status: string
        responses:
          201:
            description: Статус учетной записи изменен
            body:
              type: Status
              example: |
                {
                  "id": 123456,
                  "status": "disconnected"
                }
          400:
            description: Некорректный запрос
            body:
              type: Error
          203:
            description: Неверный статус
            body:
              type: Error
          304:
            description: Статус уже установлен
            body:
              type: Error
          402:
            description: Недостаточно средств
            body:
              type: Error
          500:
            description: Внутренняя ошибка
            body:
              type: Error
    /services:
      securedBy: bearer
      post:
        description: Активация услуги
        body:
          type: object
          properties:
            id: integer
            auto_renewal: integer
        responses:
          201:
            description: Услуга активирована
            body:
              type: Service
              example: |
                {
                  "id": 50,
                  "created": "2018-11-01 01:00:14",
                  "name_ru": "IPTV Вселенная",
                  "name_uk": "IPTV Всесвіт",
                  "active": 1,
                  "auto_renewal": 1,
                  "cost": 79,
                  "main": 1,
                  "channels_count": 230,
                  "bundles": [40],
                }
          400:
            description: Некорректный запрос
            body:
              type: Error
          402:
            description: Недостаточно средств
            body:
              type: Error
          403:
            description: Нет прав для активации указанной услуги
            body:
              type: Error
          404:
            description: Услуга не найдена
            body:
              type: Error
          500:
            description: Внутренняя ошибка
            body:
              type: Error
      /{service_id}:
        securedBy: bearer
        delete:
          description: Отключение услуги
          body:
            type: object
          responses:
            201:
              description: Услуга активирована
              body:
                type: Service
                example: |
                  {
                    "id": 50,
                    "name_ru": "IPTV Вселенная",
                    "name_uk": "IPTV Всесвіт",
                    "active": 1,
                    "auto_renewal": 0,
                    "cost": 79,
                    "main": 1,
                    "channels_count": 230,
                    "bundles": [40],
                    "stop": "2019-01-01"
                  }
            400:
              description: Некорректный запрос
              body:
                type: Error
            403:
              description: Нет прав для работы с указанной услуги
              body:
                type: Error
            404:
              description: Услуга не найдена
              body:
                type: Error
            500:
              description: Внутренняя ошибка
              body:
                type: Error
    /contacts:
      securedBy: bearer
      post:
        description: Добавление номера телефона
        body:
          type: object
          properties:
            phone: string
        responses:
          201:
            description: Номер добавлен
            body:
              type: object
              example: |
                {
                  "id": 123456,
                  "contact": "012 3456789",
                  "status": "added"
                }
          400:
            description: Некорректный запрос
            body:
              type: Error
          6:
            description: Duplicate entry data
            body:
              type: Error
      /{phone}:
        securedBy: bearer
        delete:
          description: Удаление номера телефона
          responses:
            200:
              description: Номер удален
              body:
                type: object
                example: |
                  {
                    "id": 123456,
                    "contact": "012 3456789",
                    "status": "deleted"
                  }
            400:
              description: Некорректный запрос
              body:
                type: Error
            406:
              description: No phone number found
              body:
                type: Error
    /password:
      securedBy: bearer
      put:
        description: Изменение пароля. Формат пароля минимум 8 символов
        body:
          properties:
            password?: string
        responses:
          200:
            description: Пароль изменен
            body:
              type: object
              example:
                {
                  "id": 123456,
                  "newPassword": "12345678"
                }
          400:
            description: Некорректный пароль
            body:
              type: Error
          500:
            description: Внутренняя ошибка
            body:
              type: Error
    /token:
      securedBy: bearer
      post:
        description: Создание временного токена для авторизации устройства
        responses:
          200:
            description: Токен создан, время жизни токена 2 минуты
            body:
              type: object
              example:
                {
                  "account_id": 123456,
                  "date_create": "2020-03-25 15:42:37",
                  "date_expire": "2020-03-25 15:44:37",
                  "token": "01234"
                }
          500:
            description: Внутренняя ошибка
            body:
              type: Error
/search:
  /accounts:
    securedBy: bearer
    get:
      description: Получить список всех точек аккаунтов
      responses:
        200:
          body:
            type: object
            properties:
              count: integer
              accounts: integer[]
        500:
          description: Внутренняя ошибка
          body:
            type: Error
    post:
      description: Получить список точек аккаунтов согласно заданнім условиям
      body:
        type: object
        properties:
          parameter: string status|phone|service_id|first_name|last_name|middle_name
          value: string
      responses:
        200:
          body:
            type: object
            properties:
              count: integer
              property: string
              value: string
              accounts: integer[]
        500:
          description: Внутренняя ошибка
          body:
            type: Error
  /bundles:
    securedBy: bearer
    get:
      description: Получение списка доступных пакетов
      responses:
        200:
          description: Список пакетов для пользователей которые уже созданы или будут созданы по api
          body:
            type: array
            items: Bundles
            example: !include types/bundle.json
        500:
          description: Ошибка сервера, нужно проверить настройки учётки оператора
          body:
            type: Error
/tokens:
  post:
    description: Получение токена
    body:
      type: object
      properties:
        login: string
        password: string
    responses:
      201:
        description: Токен создан
        body:
          type: Token
          example: |
            {
              "token": "00112233445566778899aabbccddeeff"
            }
      400:
        description: Некорректный запрос, см. дополнительную информацию в ответе
        body:
          type: Error
      404:
        description: Указанная пара логин/пароль не найдена
        body:
          type: Error
